/*@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia-Pro-Regular'),
    url('../assets/fonts/Sofia-Pro-Regular.otf') format('opentype');
}*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lato:wght@700&family=Lora:wght@700&display=swap');

/* KS FONT STYLES */
h1 {
  font-family: 'Lora';
  font-weight: 700;
  font-size: 36px;
  color: var(--ks-dark-grey);
  letter-spacing: 1px;
}

h2 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: var(--ks-dark-grey);
}

h3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: var(--ks-dark-grey);
}

p {
  font-family: 'Inter';
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, monospace;
}

body {
  height: 100%;
  background-color: var(--pp-bg-white);
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Inter', 'Avenir', -apple-system, sans-serif;
}

/* Styling for the main wrapper of the application */
.app-container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--pp-bg-blue);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.route-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

/* A global css style that sets the margin of the left gutter. */
.cont {
  margin-left: 170px;
  margin-right: 170px;
}

/* A global css style that sets the styles of the different pages */
.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  height: calc(100% - 104px);
  justify-content: center;
}

/* CSS classes for the feedback butoton */

.feedback-button-fixed {
  background-color: white;
  border: none;
  border-radius: 50%;
  font-size: 4vh;
  font-weight: normal;
  color: var(--pp-medium-gray);
  height: 6vh;
  width: 6vh;
  cursor: pointer;
  margin-right: 2vw;
  margin-bottom: 4vh;
  bottom: 0;
  right: 0;
  position: fixed;

  -webkit-box-shadow: 0.1vh 0.1vh 1vh 0.1vh var(--pp-tag-gray); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0.1vh 0.1vh 1vh 0.1vh var(--pp-tag-gray); /* Firefox 3.5 - 3.6 */
  box-shadow: 0.1vh 0.1vh 1vh 0.1vh var(--pp-tag-gray);

  transition: width 0.2s ease-out;
}

.feedback-button-fixed:hover {
  background-color: var(--pp-bg-blue);
  width: 19vh;
  border-radius: 22.5px;
  font-size: 16px;
  font-weight: bold;
  color: var(--pp-black);
}

/* CSS classes for the about page (About.js) */
.about-page .cont {
  margin-left: 194px;
  margin-top: 55px;
}

.about-page h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  color: var(--pp-blue);
  margin-top: 0px;
}

.about-page p {
  color: var(--pp-black);
}

.about-card {
  background: white;
  border-radius: 5px;
  padding: 35px;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.about-card p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: var(--pp-black);
}

.about-card:first-of-type {
  margin-top: 0px;
}

.about-card h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: var(--pp-blue);
}
