* {
  box-sizing: border-box;
}

.farm-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 360px;
  height: 330px;
}

.farm-card-top {
  position: relative;
  background-color: #f0f5fb;
  height: 65%;
}

.hub-button {
  position: absolute;
  right: 55px;
  top: 0;
  text-align: center;
  color: white;
  background-color: #4074b0;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 4%;
}

.gap-button {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  color: white;
  background-color: #4074b0;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 4%;
}

.farm-card-photo {
  width: 100%;
}

.farm-card-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  margin-top: 145px;
  margin-left: 22px;
}

.farm-card-bot {
  padding-left: 28px;
  height: 35%;
  background-color: white;
  text-align: left;
  font-size: 14px;
}

.farmname {
  padding-top: 8%;
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 113%;
  letter-spacing: 0.5px;
}

.farmdetails {
  padding-top: 14px;
  color: rgba(51, 51, 51, 0.5);
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.282191px;
}
