.farm-search__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 32px;
  max-width: 1680px;
}

.farm-search__header {
  align-items: center;
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
}

.farm-search__header-left-column {
  align-items: center;
  display: flex;
  flex: 1;
}

.farm-search__header-right-column {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.farm-search__input {
  align-items: center;
  background-color: white;
  border-radius: 18px;
  color: var(--ks-medium-light-grey);
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 36px;
  justify-content: space-between;
  margin-left: 48px;
  max-width: 600px;
  min-width: 200px;
}

.farm-search__input [type='text'] {
  border: none;
  color: var(--ks-dark-grey);
  font-family: 'Inter';
  font-size: 14px;
  height: 100%;
  margin-left: 16px;
  width: 100%;
}

.farm-search__input [type='image'] {
  height: 16px;
  margin-right: 16px;
  width: 16px;
}

.farm-search__filter {
  align-items: center;
  background-color: var(--ks-light-grey);
  border-radius: 5px;
  border: 1px solid var(--ks-font-light);
  color: var(--ks-font-light);
  display: flex;
  font-size: 14px;
  height: 44px;
  justify-content: center;
  margin-left: 16px;
  padding: 16px;
}

.farm-search__grid {
  display: grid;
  gap: 48px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 24px;
}

@media (max-width: 1100px) {
  .farm-search__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .farm-search__grid {
    grid-template-columns: 1fr;
  }
}

.farm-search__link {
  text-decoration: none;
}
