.farm-profile {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 50px;
  background-color: white;
  max-width: 1680px;
  width: 100%;
}

.farm-profile__section {
  display: flex;
  font: 'Inter';
  color: var(--ks-grey);
}

.farm-profile__header {
  display: flex;
  align-items: center;
}

.farm-profile__header-edit {
  margin: 8px 24px 0px 24px;
}

.farm-profile__left-col {
  flex: 1;
  min-width: 256px;
}

.farm-profile__right-col {
  flex: 4;
  margin-left: 48px;
}

.contact-card {
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-card__cover-photo {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.contact-card__profile-photo {
  position: absolute;
  width: 125px;
  height: 125px;

  top: 100px;
}

.contact-card__info {
  margin-top: 48px;
  text-align: center;
  font-family: 'Inter';
}

.contact-card__info-details {
  margin: 24px 0px;
}

.contact-card__inspector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  padding-top: 16px;
}

.contact-card__inspector-info {
  margin-top: 12px;
  text-align: center;
}

.farm-contact-card__user-icon {
  width: 48px;
  height: 48px;
}

.divider {
  margin: 48px 0px;
  border-top: 0.7px solid var(--ks-medium-light-grey);
}

h2 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: var(--ks-dark-grey);
}
