/*
  Is setthe height of the component this way good practice? 
  How am i supposed to set the height of the screen otherwise? 
  Setting height 100% pushes the div below the fold due to the nav taking up room. 
*/

.is-loading-div {
  height: 200px;
  border-radius: 5px;
  background: white;
}

.dashboard {
  margin-top: 55px;
  margin-left: 50px;
  margin-right: 0px;
}

.dashboard-content h3 {
  margin-bottom: 23px;
  margin-top: 0px;
  color: var(--pp-blue-gray);
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
}

.header-button {
  display: flex;
}

.right-button {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-self: center;
  width: 20%;
}

.right-arrow-button {
  width: 4vh;
}

.right-arrow-button:hover {
  opacity: 0.8;
}

.left-arrow-back {
  color: var(--pp-blue-gray);
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  margin-left: 10px;
}

.dashboard-box {
  border-radius: 5px;
  background-color: white;
  padding: 2rem;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}
