/*
  Is setthe height of the component this way good practice? 
  How am i supposed to set the height of the screen otherwise? 
  Setting height 100% pushes the div below the fold due to the nav taking up room. 
*/

.is-loading-div {
  height: 200px;
  border-radius: 5px;
  background: white;
}

.dashboard-container {
  margin: 10%;
}

/* Float three columns side by side */
.stat-card-column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.stat-card-row {
  width: 100%;
  /* margin: 0 -5px; */
}

/* Clear floats after the columns */
.stat-card-row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .stat-card-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.stat-card {
  padding: 16px;
  text-align: center;
  margin-bottom: 40px;
  background-color: white;
}

.dashboard-update {
  border-style: solid;
  border-color: black;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  background-color: white;
  padding: 4px;
}

.dashboard-updates-box {
  background-color: #eeeeee;
  width: 25%;
  padding: 8px;
  float: right;
  overflow: scroll;
  height: 470px;
}

.dashboard-chart {
  width: 70%;
  height: 470px;
  background-color: #eeeeee;
}
