.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background-color: white;
  padding: 4rem 1.5rem;
  border-radius: 10px;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.login-header {
  font-size: 18px;
}

.t-center {
  text-align: center;
}

w-100 {
  width: 100%;
}

.login-hyperlink {
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: var(--pp-link-gray);
  cursor: pointer;
  width: 40%;
  margin: 0 auto 0.5rem auto;
}

.login-hyperlink-group {
  margin-top: 1rem;
}

.login-input-mb {
  margin-bottom: 1rem;
}

.login-label {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--pp-gray);
  font-weight: 500;
}

.login-button {
  padding: 0.3rem 1rem;
  margin-top: 2rem;
  width: 50%;
}

.error-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.b-is-valid {
  border: none;
}

.b-is-not-valid {
  border: 1.5px solid var(--pp-invalid);
}

.input-gray {
  background-color: #f6f7f9;
  color: var(--pp-black);
  border-radius: 2.5px;
  box-shadow: none;
  margin: 0.1rem 0.1rem;
  padding: 0.4rem 0.5rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border: none;
}

.input-gray ::placeholder {
  color: #9ba3ad;
}

.input-gray ::-ms-input-placeholder {
  color: #9ba3ad;
}

.input-gray ::-ms-input-placeholder {
  color: #9ba3ad;
}

.onboarding-col {
  flex-direction: column;
}

.card {
  background-color: white !important;
  padding: 3rem 3rem !important;
  border-radius: 15px;
  width: 20rem !important;
}
