.new-farm-card {
  border: 3px dashed var(--ks-medium-dark-grey);
  box-sizing: border-box;
  border-radius: 8px;
  color: #bdbdbd;
  padding: 64px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.new-farm-card__file-icon {
  margin: 8px;
}
