/*
  Is setthe height of the component this way good practice? 
  How am i supposed to set the height of the screen otherwise? 
  Setting height 100% pushes the div below the fold due to the nav taking up room. 
*/

.is-loading-div {
  height: 200px;
  border-radius: 5px;
  background: white;
}

.dashboard__container {
  margin: 32px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1680px;
}

.dashboard__primary-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.dashboard__stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  text-align: center;
  background-color: white;
  flex: 1 1 0;
  margin: 12px;
  min-width: 256px;
}

.dashboard__update {
  border-style: solid;
  border-color: var(--ks-medium-dark-grey);
  border-bottom-width: 1px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  background-color: white;
  padding: 16px;
}

.dashboard__updates-container {
  background-color: white;
  flex: 1;
  padding: 12px;
  height: 512px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 12px;
  min-width: 256px;
}

/* Filler for aesthetic */
.dashboard__production-container {
  height: 512px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
  flex: 2.25;
  min-width: 512px;
}
.dashboard__production-container img {
  max-width: 100%;
}

.dashboard__secondary-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  min-width: 256px;
}
