.sign-up-form {
  background: 'transparent';
  border: '1px solid #ccc';
  width: 60rem;
  justify-content: center;
  align-items: center;
}

#sign-up-title {
  color: var(--ks-dark-blue);
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.sign-up-card {
  width: 1000px;
  background-color: white !important;
  padding: 1rem 2rem 2rem 2rem !important;
  border-radius: 6px;
  width: 100%;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.sign-up-dropdown .makeStyles-root-7 {
  justify-content: flex-start !important;
}

.sign-up-dropdown .makeStyles-root-7 h3 {
  margin-bottom: 16px;
}
