.row {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px 0px 0px;
}

.settings-edit-disabled input {
  float: right;
  width: 50%;
  border: 0px;
  font-size: 16px;
}

.settings-edit-enabled input {
  float: right;
  width: 50%;
  font-size: 16px;
}

.settings-label {
  float: right;
  width: 50%;
  font-size: 16px;
}

.user-profile-settings-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-profile-settings-header h2 {
  color: var(--pp-blue);
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
}

.user-profile-settings-refresh {
  background: var(--ks-medium-dark-blue);
  border-radius: 2.5px;
  color: white;
  border-color: var(--ks-medium-dark-blue);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2.5%;
  padding-left: 2.5%;
  outline: none;
}

.user-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background: white;
  border-radius: 5px;
  padding-bottom: 4.5%;
}

.user-icon__photo {
  width: 100%;
  height: auto;
  padding-top: 15%;
  padding-right: 25%;
  padding-left: 25%;
}

.user-icon h3 {
  font-weight: 600;
  color: #333333;
}

.user-icon h4 {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #24364d;
  margin-top: 0;
  margin-bottom: 0;
}

.user-profile-general-form {
  background: white;
  width: 500px;
  float: right;
  margin-left: 17px;
  border-radius: 5px;
  font-size: 16px;
  padding: 32px;
}

.user-profile-general-form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.user-profile-general-form-header-buttons {
  display: flex;
  flex-direction: row;
}

.user-profile-general-form-header-buttons button {
  margin: 8px;
  border: 1px solid #4074b0;
  box-sizing: border-box;
  border-radius: 2.5px;
  background-color: white;
  color: var(--ks-dark-blue);
  padding-top: 5%;
  padding-bottom: 5%;
  outline: none;
}

.user-profile-general-form-header h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 800;
  font-size: 18px;
  color: var(--ks-dark-blue);
  line-height: 25px;
}

.user-profile-general-form-header button {
  padding-left: 20px;
  padding-right: 20px;
}

.form-success {
  background: var(--pp-green);
  border: 0px !important;
  color: white;
}

.form-fail {
  background: var(--pp-pink);
  border: 0px !important;
  color: white;
}
