.user-profile__header h2 {
  color: var(--pp-blue);
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
}

.user-profile__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background: white;
  border-radius: 5px;
  padding-bottom: 25px;
}

.user-profile__icon-photo {
  width: 60%;
  height: auto;
  padding-top: 40px;
  padding-right: 65px;
  padding-left: 65px;
}

.user-profile__content {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px 0px 0px;
}

.user-profile__general {
  background: white;
  width: 500px;
  float: right;
  margin-left: 17px;
  border-radius: 5px;
  font-size: 16px;
  padding: 32px;
}

.user-profile__general-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-profile__general-header-buttons {
  display: flex;
  flex-direction: row;
}

.user-profile__general-header-buttons button {
  margin: 8px;
}

.user-profile__general-header h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 800;
  font-size: 18px;
  color: var(--pp-blue);
  line-height: 25px;
}

.user-profile__general-header button {
  padding-left: 20px;
  padding-right: 20px;
}

.user-profile__general-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-profile__general-label {
  float: right;
  width: 50%;
}

.edit-disabled input {
  float: right;
  width: 50%;
  border: 0px;
  font-size: 16px;
}

.edit-enabled input {
  float: right;
  width: 50%;
  font-size: 16px;
}

.form-success {
  background: var(--pp-green);
  border: 0px !important;
  color: white;
}

.form-fail {
  background: var(--pp-pink);
  border: 0px !important;
  color: white;
}
